In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Load in AQI csv
AQI_df = pd.read_csv("Resources/AQI_data.csv")
AQI_df.head()

     country  week       NO2      PM2.5
0  Argentina     1  9.850000  79.013889
1  Argentina     2  8.432540  65.119048
2  Argentina     3  6.671429  27.416667
3  Argentina     4  6.500000  23.750000
4  Argentina     5  5.178571  26.083333

In [3]:
# Load in Restrictions csv
restrictions_df = pd.read_csv("Resources/Countries_Lock_Down_Dates.csv")
restrictions_df.head()

     Country Date of Restrictions     Level  Week of Restrictions
0  Argentina              3/21/20  National                    12
1  Australia              3/23/20  National                    13
2    Bolivia              3/22/20  National                    13
3     Brazil              3/17/20     State                    12
4     Canada              3/25/20  National                    13

In [4]:
# Combine the dataframes on the country column
combined_df = pd.merge(AQI_df,restrictions_df,left_on="country",right_on="Country")

In [5]:
# Print the header of the combined dataframe
combined_df.head()

,country,week,NO2,PM2.5,Country,Date of Restrictions,Level,Week of Restrictions
0,Argentina,1,9.850000,79.013889,Argentina,3/21/20,National,12
1,Argentina,2,8.432540,65.119048,Argentina,3/21/20,National,12
2,Argentina,3,6.671429,27.416667,Argentina,3/21/20,National,12
3,Argentina,4,6.500000,23.750000,Argentina,3/21/20,National,12
4,Argentina,5,5.178571,26.083333,Argentina,3/21/20,National,12

In [6]:
cleaned_df = combined_df.drop("Country", 1)
cleaned_df

,country,week,NO2,PM2.5,Date of Restrictions,Level,Week of Restrictions
0,Argentina,1,9.850000,79.013889,3/21/20,National,12
1,Argentina,2,8.432540,65.119048,3/21/20,National,12
2,Argentina,3,6.671429,27.416667,3/21/20,National,12
3,Argentina,4,6.500000,23.750000,3/21/20,National,12
4,Argentina,5,5.178571,26.083333,3/21/20,National,12
...,...,...,...,...,...,...,...
567,Vietnam,9,13.809524,92.158730,3/31/20,National,14
568,Vietnam,10,12.873016,76.495238,3/31/20,National,14
569,Vietnam,11,12.873016,88.182540,3/31/20,National,14
570,Vietnam,12,9.492063,81.875661,3/31/20,National,14
571,Vietnam,13,10.866667,71.700000,3/31/20,National,14

In [7]:
# Add column to track whether country was under lockdown each week
cleaned_df["Restrictions"] = ""

# Determine whether each country was under lockdown each week 
for index, row in cleaned_df.iterrows():
    if (row["Week of Restrictions"] > row["week"]):
        cleaned_df.loc[index, "Restrictions"] = "No"
    else:
        cleaned_df.loc[index, "Restrictions"] = "Yes"

In [8]:
# Export to csv
cleaned_df.to_csv("foo.csv")

In [9]:
cleaned_df

,country,week,NO2,PM2.5,Date of Restrictions,Level,Week of Restrictions,Restrictions
0,Argentina,1,9.850000,79.013889,3/21/20,National,12,No
1,Argentina,2,8.432540,65.119048,3/21/20,National,12,No
2,Argentina,3,6.671429,27.416667,3/21/20,National,12,No
3,Argentina,4,6.500000,23.750000,3/21/20,National,12,No
4,Argentina,5,5.178571,26.083333,3/21/20,National,12,No
...,...,...,...,...,...,...,...,...
567,Vietnam,9,13.809524,92.158730,3/31/20,National,14,No
568,Vietnam,10,12.873016,76.495238,3/31/20,National,14,No
569,Vietnam,11,12.873016,88.182540,3/31/20,National,14,No
570,Vietnam,12,9.492063,81.875661,3/31/20,National,14,No
571,Vietnam,13,10.866667,71.700000,3/31/20,National,14,No

In [31]:
grouped_df = cleaned_df.groupby(["country","Restrictions"]).mean()
print(grouped_df.head(50))

                             week        NO2       PM2.5  Week of Restrictions
country        Restrictions
Argentina      No             6.0   6.424441   36.385823                  12.0
               Yes           12.5   3.777778   29.769048                  12.0
Australia      No             6.5   5.667712   29.802374                  13.0
               Yes           13.0   5.237778   24.563333                  13.0
Bolivia        No             6.5   8.306250   33.015972                  13.0
               Yes           13.0   5.000000   32.450000                  13.0
Brazil         No             6.0  13.642695   53.673160                  12.0
               Yes           12.5  13.211310   44.792262                  12.0
Canada         No             6.5  11.664831   28.667101                  13.0
               Yes           13.0   8.712500   30.016667                  13.0
Chile          No             6.0  15.519913   78.421356                  12.0
               Yes           12.5  15.128571   89.606349                  12.0
China          No             2.0  24.594048  133.368783                   4.0
               Yes            8.5  14.233587  115.046540                   4.0
Colombia       No             6.5  16.023810  103.547619                  13.0
               Yes           13.0   7.600000  126.600000                  13.0
Czech Republic No             6.0  10.694805   46.102273                  12.0
               Yes           12.5  10.480952   65.500000                  12.0
Denmark        No             5.5  12.731429   34.353571                  11.0
               Yes           12.0  10.180952   35.200000                  11.0
Egypt          No             6.0   8.329870         NaN                  12.0
               Yes           12.5   7.542857         NaN                  12.0
Finland        No             6.5   6.208333   22.240327                  13.0
               Yes           13.0   4.100000   28.250000                  13.0
France         No             6.0  15.272433   43.839416                  12.0
               Yes           12.5   9.472090   55.077083                  12.0
Germany        No             6.0  11.681299   38.333333                  12.0
               Yes           12.5  11.801190   49.066667                  12.0
Greece         No             6.5  11.150649   33.644792                  13.0
               Yes           13.0        NaN   37.800000                  13.0
Hungary        No             6.5  15.132391   65.228373                  13.0
               Yes           13.0   6.700000   46.800000                  13.0
India          No             6.5  16.126538  136.908505                  13.0
               Yes           13.0   5.780000   96.600000                  13.0
Iran           No             4.0  63.129478   87.980995                   8.0
               Yes           10.5  31.557672   74.986210                   8.0
Ireland        No             6.5   8.103571   29.070000                  13.0
               Yes           13.0   8.200000   51.000000                  13.0
Israel         No             6.0  36.163492   73.204762                  12.0
               Yes           12.5  14.614286   67.832540                  12.0
Italy          No             5.0  28.239947   92.439484                  10.0
               Yes           11.5  18.707540   61.575670                  10.0
Japan          No             5.0  21.518333   47.481812                  10.0
               Yes           11.5  19.846071   47.207143                  10.0
Jordan         No             6.0   9.382684         NaN                  12.0
               Yes           12.5   5.657738         NaN                  12.0
Kuwait         No             5.5  22.667143   72.441667                  11.0
               Yes           12.0  21.196825   62.451852                  11.0
Mexico         No             6.5  18.506250   64.348403                  13.0
               Yes           13.0  22.487500   58.556667                  13.0